.page9TopContainer{
    padding: 4rem 7rem;
}
.page9TopHeader, .page9TopTitle, .page9TopPara{
    text-align: center;
}
.page9TopTitle{
    padding: 1rem 0;
}
.page9TopPara{
    max-width: 65%;
    margin: auto;
}
.page9TopContent{
    /* background-color: #008753; */
    background: url("../../images/teal-watercolor.jpg");
    /* padding: 2rem 4rem;
    margin-top: 1rem;
    border-radius: 5px; */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 25px;
}
.page9TopContentTitle, .page9TopContentTitle2, .page9TopContentPara{
    /* text-align: center; */
}
.page9CenterContainer{
    background-color: antiquewhite;
    padding: 4rem;

}
.page9CenterTitle{
    text-align: center;
    margin-bottom: 4rem;
}
.page9CenterTitle h2{
    font-weight: 900;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: 'Poppins';
    color: #990000;
}
.page9TopContentTitle2{
    padding: 1rem 0;
}
.page9HoverCard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    padding: 0 4rem;
}
.page9Card{
    background: #f1f1eb;
    transition: transform .2s ease-in-out;
    transform: scale(1);
    cursor: pointer;
}
.page9Card:hover{
    transform: scale(1.1);
    box-shadow: 10px, 10px, 10px gray;
}
.page9CardImgBx{
    /* width: 350px; */
    /* height: 250px; */
}
.page9CardImgBx img{
    width: 100%;
    /* height: 250px; */
}
.page9CardTxt{
    padding: 1rem;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    background-color: #f1f1eb;
}
.page9CardTxtTitle h3{
    font-weight: 900;
    font-size: 1.17em;
    text-transform: uppercase;
    font-family: 'Poppins';
}
.page9CardTxtPara{
    padding: 1rem 0;
}
.page9Icon{
    align-self: flex-end;
    color: #1c6677 !important;
    font-size: 1.5rem !important;
    float: right;
    margin-right: 1rem;
}
.page9Bottom{
    padding: 4rem;
}
.page9BottomTitle{
    margin-bottom: 4rem;
    text-align: center;
}
.page9BottomContent{
    display: flex;
    justify-content: center;
    padding: 0 4rem;
    gap: 1rem;
}
.page9BottomBanner{
    background: url("../../images/green-watercolor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem;
}
.page9BottomBannerTitle, .page9BottomBannerPara, .page9BottomBannerBtn{
    text-align: center;
}
.page9BottomBannerPara{
    margin: 1rem 0;
    border-radius: 5px;
}
.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop{
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)) !important;
}

@media only screen and (max-width: 600px) {
    .page9TopContainer {
    padding: 2rem;
    }
    .page9TopContent {
        padding: 1rem;
    }
    .page9CenterContainer {
    padding: 2rem;
    }
    .page9HoverCard {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4rem;
    padding: 0;
    /* column-gap: 1rem; */
    /* padding: 0 2rem; */
    }
    .page9CardTxt {
    max-width: 100%;
    }
    .page9Card:hover{
    transform: scale(1);
    }
    .page9Bottom {
        padding: 2rem;
    }
    .page9BottomTitle {
        margin-bottom: 2rem;
        text-align: center;
    }
    .page9BottomContent {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
    .page9BottomBanner {
        padding: 2rem;
    }
    .page9BottomBannerPara {
        padding: 1rem;
    }
  }
  @media only screen and (min-width: 600px) {
    .page9HoverCard {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 2rem;
        column-gap: 2rem;
        padding: 0 4rem;
    }
    .page9BottomContent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
  }
  @media only screen and (min-width: 992px) {
    .page9HoverCard {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1rem;
        column-gap: 1rem;
        padding: 0 4rem;
    }
    .page9BottomContent {
        display: flex;
    }
  }
@media only screen and (min-width: 1200px) {
}