.page8Top{
    padding: 4rem;
    margin-top: 50rem;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuXzY4T0hvViIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgd2lkdGg9IjkuNSIgaGVpZ2h0PSI5LjUiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSg0NSkiPjxsaW5lIHgxPSIwIiB5PSIwIiB4Mj0iMCIgeTI9IjkuNSIgc3Ryb2tlPSIjMTk0ZDMzIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPiA8cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI3BhdHRlcm5fNjhPSG9WKSIgb3BhY2l0eT0iMSIvPjwvc3ZnPg==');
}
.page8TopHeader, .page8TopTitle, .page8TopPara{
    text-align: center;
}
.page8TopTitle{
    padding-bottom: 1rem;
}
.page8TopPara{
    padding: 2rem;
    border-radius: 5px;
    background: green;
}
.page8TopContent{
    padding: 2rem;
    background: #222;
    border-radius: 5px;
    margin: 2rem 0;
}
.page8Center{
    background: #fff;
    padding: 4rem;
}
.page8CenterTitle{
    margin: 1rem 0;
}
.page8SubCenter{
    padding: 4rem;
}
.page8SubCenterTitle{
    text-align: center;
    margin: 2rem 0;
}
.page8CardBx{
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
.page8Card{
    width: 300px;
    background: green;
    border-radius: 5px;
}
.page8Card img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.page8CardText{
    padding: 1rem;
    background: green;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.page8CardPara{
    padding: 1rem 0;
}
.arrowCirce{
    font-size: 1.5rem !important;
    color: #eee;
    float: right;
    padding: 1rem 0;
}
.page8Bottom{
    padding: 4rem;
}
.page8BottomTittle{
    text-align: center;
    margin-bottom: 2rem;
}