.page15Top{
    padding: 4rem;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuXzY4T0hvViIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgd2lkdGg9IjkuNSIgaGVpZ2h0PSI5LjUiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSg0NSkiPjxsaW5lIHgxPSIwIiB5PSIwIiB4Mj0iMCIgeTI9IjkuNSIgc3Ryb2tlPSIjMTk0ZDMzIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPiA8cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI3BhdHRlcm5fNjhPSG9WKSIgb3BhY2l0eT0iMSIvPjwvc3ZnPg==');
}
.page15TopContent{
    padding: 4rem;
    text-align: center;
}
.page15TopPara{
    background: #fff;
    border-radius: 5px;
    padding: 2rem;
    margin: 1rem 0 2rem 0;
}
/* Center */
.page15Center{
    padding: 4rem;
}
.page15CenterTitle{
    text-align: center;
}
.page15CenterContent{
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
}
.page15CenterContentLeft{
    flex: 1;
}
.page15CenterContentLeft img{
    width: 100%;
    border-radius: 10px;
}
.page15CenterContentRight{
    flex: 2;
}
.page15CenterContentRightPara{
    padding: 1rem 0;
}

/* Bottom */
.page15Bottom{
    padding: 4rem;
}
.page15BottomTitle{
    text-align: center;
}
.page15BottomContent{
    background: green;
    padding: 2rem;
    border-radius: 5px;
    margin-top: 2rem;
}
.page15BottomContent:nth-child(3){
    background: red;
}
.page15BottomContent:last-child{
    background: #fff;
}
.page15BottomPara{
    padding: 1rem 0;
}

@media only screen and (max-width: 600px) {
    .page15Top {
    padding: 2rem;
    }
    .page15TopContent {
        padding: 0rem;
        text-align: center;
    }
    .page15TopPara {
        background: #fff;
        border-radius: 5px;
        padding: 1rem;
        margin: 1rem 0 2rem 0;
    }
    .page15Center {
        padding: 2rem;
    }
    .page15CenterContent {
        display: block;
        margin-top: 2rem;
        /* gap: 2rem; */
    }
    .page15CenterContentRight {
        text-align: center;
        margin-top: 1rem;
    }
    .page15Bottom {
        padding: 2rem;
    }
    .page15BottomContent {
        padding: 1rem;
    }
  }
  @media only screen and (min-width: 600px) {
    .page15CenterContentRight {
        flex: 1 1;
    }
  }
  @media only screen and (min-width: 992px) {
    .page15CenterContentRight {
        flex: 2 1;
    }
  }
@media only screen and (min-width: 1200px) {
}