.inputField__label {
    display: grid;
    grid-row-gap: 10px;
    color: black;
    font-size: 16px;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    /* @include m.poppinsFontStack;
  
    @include m.smMinBreakPoint {
      font-size: 18px;
    } */
  }
  
  .inputField__field {
    /* @include m.poppinsFontStack; */
    background-color: blue;
    border: none;
    font-size: 16px;
    padding: 16px 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    font-weight: bold;
    color: black;
  
    /* @include m.smMinBreakPoint {
      font-size: 18px;
      padding: 20px 25px;
    } */
  }
  
  placeholder { /* Firefox */
    font-weight: normal;
    color: blue
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: blue;
    font-weight: normal;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: blue;
    font-weight: normal;
  }
  
  
  input[disabled] {
    background-color:darkblue;
    cursor: default;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.45);
  
}
    input:hover {
      background-color:darkblue;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.45);
      transform: scale(1);
    }