#navbar{
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.top{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.top .eventTime{
    text-align: center;
    color: #fff;
    margin-top: 10px;
}
.top .nav{
    display: flex;
    justify-content: space-around;
}
.top .nav .logo{
    display: flex;
}
.top .nav .logo .logoText{
    margin-left: 10px;
    align-self: center;
    color: #fff;
}
.navLinks{
    align-self: center;
}
.navLinks .navList{
    list-style: none;
    margin: 0;
    padding: 0 40px;
    display: flex;
}
.navListItems{
    color: #fff;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 0;
    cursor: pointer;
}
.navLinks .navList .navListItems:not(:last-child){
    margin-right: 20px;
}
#topLinks{
    color: #fff;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 0;
}
.navButtons{
    display: flex;
    align-self: center;
}
.navButtons #rightBtn, #leftBtn{
    border: 2px solid;
    border-radius: 30px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-weight: 900;
    min-width: 125px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.navButtons #leftBtn{
    background-color: green!important;
    border-color: green!important;
    margin-right: 20px;
}
.navButtons .rightBtn{
    background-color: transparent;
}

/* Hover */
.hover{
    color: white;
    position: absolute;
    margin-top: 1rem;
    list-style: none;
    background: #232e32;
    padding: 1rem 10px;
    line-height: 5vh;
    border-radius: 5px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: all .8s ease;
}
.hover a{
    color: white;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 1rem;
    transition: all .5s ease;
    /* padding: 5px; */
}
.navListItems:hover .hover{
    height: 100%;
    opacity: 1;
}

.openLinkBtn{
    color: white;
    width: 70px;
    height: 50px;
    cursor: pointer;
    font-size: 45px;
    display: block;
    z-index: 1;
}
.mobileNav{
    background: black;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mobileNav .navList{
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobileNav .navList .navListItems .hover{
    color: white;
    position: absolute;
    margin-top: 1rem;
    list-style: none;
    background: #232e32;
    padding: 1rem 10px;
    line-height: 4vh;
    border-radius: 5px;
    height: 0px;
    display: none;
    overflow: hidden;
    transition: all .8s ease;
}
.mobileNav .navList .navListItems:hover .hover{
    position: relative;
    display: block;
    height: 100%;
}
@media only screen and (max-width: 600px) {
    .top .nav .logo{
    display: block;
    }
    .top .nav {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    }
    .logoText h1{
        font-size: 2rem !important;
    }

/* lllll */
    .navLinks{
        display: none;
    }
    .navButtons{
        display: none;
    }
}
@media only screen and (min-width: 600px) {
    .openLinkBtn{
        display: none;
    }
    .mobileNav{
        display: none;
    }
    
  }