.pageContent2{
    margin-top: 50rem;
    padding: 4rem;
}
.pageContentTitle{
    text-align: center;
    margin: 2rem 0;
    text-transform: uppercase;
}
.imgBx{
    width: 200px;
    height: 200px;
    margin: auto;
}
.imgBx img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.centerTitle{
    text-align: center;
    margin-bottom: 2rem;
}
.centerContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 8rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.centerContentB{
    /* width: 50%; */
    /* flex: 0 0 33.33%; */
}
.centerContentText{
    text-align: center;
    margin-top: 1rem;
    line-height: 4vh;
    background: #fff;
    border-radius: 5px;
    padding: 10px 3px;
}
.hr{
    border: 1px solid #ddd;
    margin: 2rem 0;
}
#ReactBackgroundSlider > figure{
    background-position: inherit !important;
}
.readMoreIcon{
    font-size: 1.5rem;
    background: red;
    color: #fff;
    padding: 2px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
}