.pageContent2{
    margin-top: 50rem;
    padding: 4rem;
}
.pageContentTitle{
    text-align: center;
    margin: 2rem 0;
    text-transform: uppercase;
}
.imgBx{
    margin: auto;
    padding: 1rem;
    height: 300px;
    width: 300px;
    object-fit: cover;
}
.imgBx img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    /* border-radius: 50%; */
    border: 1px solid #ddd;
}
.centerTitle{
    text-align: center;
    margin-bottom: 2rem;
}
.centerContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 16rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.centerContent2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 16rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.centerContentB{
    width: 300px !important;
    /* width: 50%; */
    /* flex: 0 0 33.33%; */
    -webkit-box-shadow: 0 0 5px #232e32;
    box-shadow: 0 0 2px #232e32;
    border-radius: 2px;
    transition: box-shadow .5s ease;
    cursor: pointer;
}
.centerContentB:hover{
    /* width: 50%; */
    /* flex: 0 0 33.33%; */
    -webkit-box-shadow: 0 0 10px gray;
    box-shadow: 0 0 10px gray;
}
.centerContentText{
    text-align: center;
    margin-top: 1rem;
    line-height: 4vh;
    background: #fff;
    border-radius: 5px;
    padding: 10px 3px;
}
.hr{
    border: 1px solid #ddd;
    margin: 2rem 0;
}
#ReactBackgroundSlider > figure{
    background-position: inherit !important;
}
.readMoreIcon{
    font-size: 1.5rem;
    background: red;
    color: #fff;
    padding: 2px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .pageContent2{
        margin-top: 45rem;
        padding: 2rem;
    }
    .centerContent, .centerContent2{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
    }
  }
  @media only screen and (min-width: 600px) {
    
  }