.slideBx{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(24%2c 106%2c 59%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c340.682C70.194%2c336.696%2c142.686%2c351.302%2c205.604%2c319.926C271.941%2c286.845%2c327.191%2c230.898%2c356.597%2c162.852C385.723%2c95.455%2c371.548%2c20.542%2c366.642%2c-52.715C361.326%2c-132.091%2c379.724%2c-223.78%2c326.729%2c-283.113C273.756%2c-342.422%2c179.248%2c-328.31%2c102.36%2c-348.606C28.036%2c-368.225%2c-41.654%2c-412.491%2c-117.566%2c-400.392C-197.718%2c-387.618%2c-285.751%2c-352.303%2c-323.909%2c-280.668C-361.828%2c-209.483%2c-305.498%2c-124.82%2c-307.311%2c-44.185C-308.828%2c23.268%2c-348.253%2c86.501%2c-333.644%2c152.37C-317.265%2c226.218%2c-287.053%2c306.98%2c-221.178%2c344.16C-155.637%2c381.152%2c-75.139%2c344.949%2c0%2c340.682' fill='%2313552f'%3e%3c/path%3e%3cpath d='M1440 1104.728C1547.067 1091.092 1653.38 1089.661 1751.511 1044.721 1861.287 994.448 1981.792 940.0899999999999 2035.562 831.9839999999999 2089.737 723.064 2057.669 593.977 2035.1660000000002 474.428 2013.496 359.308 1975.9589999999998 249.885 1908.027 154.452 1834.891 51.70800000000003 1753.045-58.524 1631.597-92.519 1510.522-126.40999999999997 1381.773-78.84100000000001 1268.344-24.605000000000018 1166.516 24.083999999999946 1099.521 115.70400000000001 1022.8620000000001 198.548 943.381 284.442 844.767 357.505 811.061 469.572 774.871 589.899 784.175 721.553 830.423 838.384 878.029 958.646 954.4259999999999 1079.358 1072.9479999999999 1131.144 1187.6779999999999 1181.2730000000001 1315.8 1120.546 1440 1104.728' fill='%231d7f47'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    padding: 2rem 7rem;
    background-color: #FFFFFF;
    background-size: cover;
    color: #FFFFFF;
    cursor: pointer;
    user-select:  none;
    }
.slideBx p{
    overflow: hidden;
    /* height: 500px; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.slideBx img{
    border-radius: 50%;
}
.slideBxAuthor{
    padding: 1rem 0;
}
.slideBtn{
    text-align: center;
    padding: 1rem 0;
}

@media only screen and (max-width: 600px) {
    .slideBx {
    /* background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(24%2c 106%2c 59%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c340.682C70.194%2c336.696%2c142.686%2c351.302%2c205.604%2c319.926C271.941%2c286.845%2c327.191%2c230.898%2c356.597%2c162.852C385.723%2c95.455%2c371.548%2c20.542%2c366.642%2c-52.715C361.326%2c-132.091%2c379.724%2c-223.78%2c326.729%2c-283.113C273.756%2c-342.422%2c179.248%2c-328.31%2c102.36%2c-348.606C28.036%2c-368.225%2c-41.654%2c-412.491%2c-117.566%2c-400.392C-197.718%2c-387.618%2c-285.751%2c-352.303%2c-323.909%2c-280.668C-361.828%2c-209.483%2c-305.498%2c-124.82%2c-307.311%2c-44.185C-308.828%2c23.268%2c-348.253%2c86.501%2c-333.644%2c152.37C-317.265%2c226.218%2c-287.053%2c306.98%2c-221.178%2c344.16C-155.637%2c381.152%2c-75.139%2c344.949%2c0%2c340.682' fill='%2313552f'%3e%3c/path%3e%3cpath d='M1440 1104.728C1547.067 1091.092 1653.38 1089.661 1751.511 1044.721 1861.287 994.448 1981.792 940.0899999999999 2035.562 831.9839999999999 2089.737 723.064 2057.669 593.977 2035.1660000000002 474.428 2013.496 359.308 1975.9589999999998 249.885 1908.027 154.452 1834.891 51.70800000000003 1753.045-58.524 1631.597-92.519 1510.522-126.40999999999997 1381.773-78.84100000000001 1268.344-24.605000000000018 1166.516 24.083999999999946 1099.521 115.70400000000001 1022.8620000000001 198.548 943.381 284.442 844.767 357.505 811.061 469.572 774.871 589.899 784.175 721.553 830.423 838.384 878.029 958.646 954.4259999999999 1079.358 1072.9479999999999 1131.144 1187.6779999999999 1181.2730000000001 1315.8 1120.546 1440 1104.728' fill='%231d7f47'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e); */
    padding: 2rem;
    color: #000;
    overflow: auto;
    cursor: pointer;
}
    .slideTitle{
        font-weight: bold;
    }
    .slideBx img{
    display: none;
}
.slideBtn {
    text-align: center;
    padding: 0;
}
}
@media only screen and (min-width: 600px) {
    
  }@media only screen and (min-width: 992px) {
  }
@media only screen and (min-width: 1200px) {

}
 